{
    "semi": true,
    "arrowParens": "always",
    "singleQuote": false,
    "trailingComma": "none",
    "overrides": [
        {
          "files": ["*.html"],
          "options": {
            "tabWidth": 4
          }
        }
    ]
}